*{
	margin: 0;
	padding: 0;
	
}
body{
	background: #fff;
	color: #000;
}
.centrar{
   margin-left: auto;
   margin-right: auto;
}
header {
    position: fixed;
    z-index: 5000;
    width: 100%;
}

.navbar{
	margin-bottom: 0;
}
.jumbotron{
	background: #0B3B0B;
	color: #fff;
	padding: 20px 0px;
	margin-bottom: 0;
}

.articulo
{
	background: #8c702a;
	color: #fff;
	padding: 20px 20px;
    margin-bottom: 20px;
}

.main{
	margin-top: 20px;
	margin-bottom: 20px;
}
.sidebar-carmelos{
	background: #f8aa1a;
	padding: 15px 20px;
}
.jumbotron-carmelos
{
	background: #f8aa1a;
	color: #fff;
	padding: 10px 0px;
	text-align: center;
}
.titulos-pagina{
	background: #f8aa1a;
	padding: 20px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fff;
}
.titulos-pagina2{
	background: #8A0808;
	padding: 20px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fff;
}

.jumbotron-carmelos1
{
	background: #0B3B0B;
    color: #fff;
	padding: 15px 0px;
}
.proyectos
{
	padding: 0;
    
	margin-top: 20px;
	text-align: center;
}
.proyectos .thumb{
	width: 80%;
}
.proyectos .thumb img{
	width: 80%;
    border-radius: 5px;
}
.proyect .col-xs-6,.proyect .col-sm-6,.proyect .col-md-3{
	padding: 0;
}
.proyect{
	overflow: hidden;
}
.social {

	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 250px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 15px 20px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-google-plus2 {background: #d95232;}
	.social ul li .icon-mail {background: #f8aa1a;}
 
	.social ul li a:hover { /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 15px 40px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}


.social-footer {

}
 
	.social-footer ul {
		list-style: none;
		
	}
 	.social-footer ul li{
 		float: left;
 	}
	.social-footer ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 15px 15px;
		margin-right: 5px;
		text-decoration: none;
	}
 
	.social-footer ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social-footer ul li .icon-twitter {background: #00abf0;}
	.social-footer ul li .icon-google-plus2 {background: #d95232;}
	.social-footer ul li .icon-mail {background: #666666;}
 
	.social-footer ul li a:hover { /* Cambiamos el fondo cuando el usuario pase el mouse */
		background: #000;
	}
.titulo{
	text-decoration: none;
	text-decoration: none;
	color: #fff;
}
.jumbotron .container a:hover{
	text-decoration: none;
	color: #fff;
}
.google-maps {
       position: relative;
       padding-bottom: 75%; 
      height: 0;
       overflow: hidden;
    }
   .google-maps iframe {
      position: absolute;
        top: 0;
       left: 0;
       width: 100% ;
       height: 100% ;
    }
.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.contact-footer {

}
 
	.contact-footer ul {
		list-style: none;
		
	}
 	.contact-footer ul li{
 	}
	.contact-footer ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 15px 15px;
		margin-right: 10px;
		margin-bottom: 10px;
		text-decoration: none;
	}
	.contact-footer ul li .icon-location2 {background:#f8aa1a;} /* Establecemos los colores de cada red social, aprovechando su class */
	.contact-footer ul li .icon-envelop {background: #f8aa1a;}
	.contact-footer ul li .icon-envelop {background: #f8aa1a;}
	.contact-footer ul li .icon-mobile {background: #f8aa1a;}
	.contact-footer ul li .icon-mobile {background: #f8aa1a;}
	.contact-footer ul li .icon-phone {background: #f8aa1a;}


	.contact-footer ul li a:hover { /* Cambiamos el fondo cuando el usuario pase el mouse */
		background: #000;
	}
.text-sidebar {
    width: auto;
    border: solid #fff;
}
.button-sidebar {
    background: #fff;
    color: #000;
    border: none;
    padding: 8px;
    margin: 0px 30px;
}
.text-contact {
    width: auto;
    border: solid #72b634;
}
.button-contact {
    background: #fff;
    border: solid #72b634;
    padding: 10px;
    margin: 0px 30px;
}
h5 {
    color: #fff;
}
 


.divHeader {
   background-color: #0B3B0B;
   padding-top: 0.5%;
   padding-bottom: 0.5%;
   width: 100%;
   color: #FFFFFF;
}

.divBody {
   width: 100%;
   overflow: auto;
   text-align: center;
}

.divFooter {
   background-color: #585858;
   padding-top: 0.5%;
   padding-bottom: 0.5%;
   position: fixed;
   width: 100%;
   bottom: 0;
   color: #FFFFFF;
}

.maxWidth {
   width: 100%;
}

.maxWH {
   width: 100%;
   height: 100%;
}
.tabColor
{
   color: #0B3B0B;
}
table
{
   color: #000000;
   margin: auto;
}
.red {
  background-color: #CE0000;
  box-shadow: 0px 5px 0px 0px #CE0000;
}

