html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}

.divHeader {
   background-color: #115A11;
   position: fixed;
   top: 0%;
   left: 0%;
   height: 7%;
   width: 100%;
   color: #FFFFFF;
   display: table;
   line-break: strict;
   overflow: hidden;
}

.divHeader div {
   display: table-cell;
   vertical-align: middle;
}

.divBody {
   background-color: #FFFFFF;
   position: absolute;
   overflow: auto;
   top: 7%;
   left: 0%;
   height: 87%;
   width: 100%;
   
}

.divFooter {
   background-color: #585858;
   position: fixed;
   bottom: 0%;
   left: 0%;
   height: 6%;
   width: 100%;
   color: #FFFFFF;
   display: table;
}

.divFooter div {
   display: table-cell;
   vertical-align: middle;
}